
header
{
    background-color: rgb(6, 20, 36);
    padding: 10px;
    text-align: left;
    color: rgb(195, 221, 233);
}
footer{

    background-color: rgb(6, 20, 36);
    text-align:center;
    color: rgb(195, 221, 233);
    
}

.maincontainer{
    padding-top: 1px;
    width: 100%;

}
.circle{
    
    width: 200px;
      height: 200px;
      border-radius: 50%;
      overflow: hidden;
      


}
.circle img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
  }
.imgcontainer{
padding-top: 30px;
    display: flex;
      justify-content: center;
      align-items: center;
}
.links{
    color: black;
    
}
h3{
    text-align: center;
}

.div1{
    padding-left: 5px;
    padding-right: 5px;

    background-color: rgb(221, 245, 248);
width: 68.8%;
float: left;

}

.div2{
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgb(154, 199, 219);
    width: 28.8%;
    float: right;
    }
 .box
{
        width: 250px;
        height: 100px;
        text-align: center;
}
hr{
    border: none;
    height: 3px;
    background-color: #111110;
    margin: 3px 0;

}
.span1{
font-weight: bold;
}
.span2{
    
    font-weight: bold;
    font-style: oblique;
 

    
}